{% extends 'base.html.twig' %}
{% block title %}Cadastro{% endblock %}
{% block body %}
    <div class="bg-light min-vh-100">
        <div class="container-lg bg-light">
            <div class="row p-5">
                <div class="col-7">
                    <h3 class="fw-bolder text-end">Registre-se</h3>
                </div>
                <div class="col text-end">
                    <a class="text-light text-decoration-none" href="/login" methods="get">
                        <button class="btn btn-dark fw-semibold">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><style>svg{fill:#f0f0f0}</style><path d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM231 127c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-71 71L376 232c13.3 0 24 10.7 24 24s-10.7 24-24 24l-182.1 0 71 71c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L119 273c-9.4-9.4-9.4-24.6 0-33.9L231 127z"/></svg>
                            Voltar
                        </button>
                    </a>
                </div>
            </div>
            <div>
                <form class="row g-5" action="{{ path('app_register_request_process') }}" method="post">
                    <div class="col-md-6">
                        <label for="name" class="form-label fw-semibold ">Nome</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><style>svg{fill:#e4dede}</style><path d="M254 52.8C249.3 40.3 237.3 32 224 32s-25.3 8.3-30 20.8L57.8 416H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32h-1.8l18-48H303.8l18 48H320c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H390.2L254 52.8zM279.8 304H168.2L224 155.1 279.8 304z"/></svg>
                            </span>
                            <input name="name" placeholder="Nome" type="text" class="form-control form-control-lg fs-6" id="name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="password" class="form-label fw-semibold">Senha</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><style>svg{fill:#e4dede}</style><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>
                            </span>
                            <input name="password" placeholder="Senha" type="password" class="form-control form-control-lg fs-6" id="password">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label fw-semibold">Email</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><style>svg{fill:#e4dede}</style><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                            </span>
                            <input name="email" placeholder="Email" type="email" class="form-control form-control-lg fs-6" id="email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="passwordConfirmation" class="form-label fw-semibold">Confirme sua Senha</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><style>svg{fill:#e4dede}</style><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>
                            </span>
                            <input name="passwordConfirmation" placeholder="Confirme sua senha" type="password" class="form-control form-control-lg fs-6" id="passwordConfirmation">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="form-label fw-semibold">Telefone</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><style>svg{fill:#e4dede}</style><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
                            </span>
                            <input name="phone" placeholder="Telefone" type="email" class="form-control form-control-lg fs-6" id="phone">
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center pt-5">
                        <button type="submit" class="btn btn-lg btn-danger px-5 text-center">Entrar</button>
                    </div>
                </form>
            </div>
            <div class="position-absolute end-0 bottom-0 me-4 mb-4">
                <img src="{{ asset('images/logo-fatec-black.svg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}